
.banner{
  background-image: url(../../images/banner-picture.jpg);   
	background-size: cover;     
	background-position: center;
  background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('../../images/banner-picture.jpg');
  
}
.banner h1 {
  color: white;
  font-size: 40px;
}
.banner h2 {
  color: white;
  font-size: 25px;
  font-weight: white;
	opacity: 0.8;
}
.banner{
	padding-bottom: 150px;
	padding-top: 10px;
}